<!DOCTYPE html>
<html>
  <head>
    <title>Company Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- NAVIGATION -->
    <%- include('../partials/navigation') %>

    <h1>Articles</h1>
    <ol>
        <% data.forEach(function(val){ %>
            <li>
                Article:<%= val.article %> <br>
                Author : <%= val.author %><br>
                Description :<%= val.description %><br>

                <a href='/article/detail/<%=val._id %>'>show</a>&nbsp;&nbsp;
                <a href='/article/delete/<%=val._id %>'>Delete</a>&nbsp;&nbsp;
                <a href=''> Update</a>&nbsp;&nbsp;
                <br><br>

            </li>
        <% }); %>    
    </ol>
    
    
  </body>
</html>